Build Your Own AI Assistant.json
{
  "name": "My workflow 2 copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        -40
      ],
      "id": "505dbde5-88b1-466b-8570-00d4cebf979a",
      "name": "Telegram Trigger",
      "webhookId": "27f7ad1c-e5fe-45e1-b45e-3b6a759a0f00",
      "credentials": {
        "telegramApi": {
          "id": "j9z7Y58HeWUQkh2u",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are a Intelligent Assistance Using Vector Store and HTTP Hook and google Calender\nresolve user query\n\nRoles and Responsibilities\n1. News Reporter\nWeather and Current News Queries:\nWhen the user asks about weather updates or current news (e.g., sports updates), Seach Engine Tool to call third-party APIs to fetch the latest data.\nSummarize the data retrieved from the API and present it to the user in a clear and concise manner.\n\n2. Personal Assistant\n\nGeneral Information Queries:\nIf user is doing normal talks like Hello or Hi you can reponsed as a normal user would do.\n\nyou have Access to availability tool .which will return true of false \ntrue means i have meeting and false means I am Busy \nfor booking use Appointment Tool but first check if that slot is available\n\nfor personal purpose or other actity which comes under daily things and you don't know the answer you can also use search engine tool to search around for answer\nIf the user asks for information you do not have, use a vector store to retrieve relevant details and share them with the user.\nIf no relevant information is found, respond politely with:\n\"Sorry, I don't have the latest information. I will update as the system grows.\"\nhere is the Current Date time {{ $now.format('D T') }}\n\nTools:\navailability tool-- to check apppointment and avalibility for meeting and Event\nQuery  {{ $json.text || $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        760,
        -40
      ],
      "id": "04ab7890-356b-43a8-8f49-76ac5faab2ed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        560,
        220
      ],
      "id": "99399777-bb29-4dc8-a5f5-1fcaa6040075",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HTcHoPE9qQ8PacoC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "n8nTelegramChatBotText"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        700,
        220
      ],
      "id": "3198e883-cf57-437f-803a-a238470470bb",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        -40
      ],
      "id": "db8468c2-8eb7-42ff-9082-99d7626f156a",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "j9z7Y58HeWUQkh2u",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "shama.kapil.kv@gmail.com",
          "mode": "list",
          "cachedResultName": "shama.kapil.kv@gmail.com"
        },
        "timeMin": "={{ $fromAI('startTime') }}",
        "timeMax": "={{ $fromAI('endTime') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "Asia/Kolkata",
            "mode": "list",
            "cachedResultName": "Asia/Kolkata"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        840,
        220
      ],
      "id": "01620054-8cc4-487a-b6a6-82f16b60f7e6",
      "name": "availability tool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "24pemsxluV8cqPWq",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shama.kapil.kv@gmail.com",
          "mode": "list",
          "cachedResultName": "shama.kapil.kv@gmail.com"
        },
        "start": "={{ $fromAI('startTime') }}",
        "end": "={{ $fromAI('endTime') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [
            "={{ $fromAI('guestEmail') }}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        980,
        220
      ],
      "id": "995df6cc-c95a-4604-a144-48987cf198ab",
      "name": "Appointment Tool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "24pemsxluV8cqPWq",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1120,
        220
      ],
      "id": "7a2cc078-6e46-43e5-aeec-b4dc6a34f628",
      "name": "Search Engine",
      "credentials": {
        "serpApi": {
          "id": "8sFi8YTyxpHzFQoT",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice != undefined }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3632769b-a52c-4ce8-af46-01552d956a5f",
                    "leftValue": "={{ $json.message.text != undefined }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -120,
        -40
      ],
      "id": "fafd9569-f76c-4476-8671-b3d241d9ebc0",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        100,
        -140
      ],
      "id": "fe4fbd23-7329-4a30-8847-b0d316c724cb",
      "name": "Telegram1",
      "credentials": {
        "telegramApi": {
          "id": "j9z7Y58HeWUQkh2u",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        320,
        -140
      ],
      "id": "3b5ad145-a328-4dce-be7d-1b3e8929b5cb",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HTcHoPE9qQ8PacoC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1d24113-94f8-43b0-9d49-bf49d86a6a2d",
              "name": "query",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        60
      ],
      "id": "78b4ab03-188f-4de0-a1b1-539f921557e0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "availability tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Appointment Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Engine": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2537aac9-e970-4b33-b034-0f4c62f41e97",
  "meta": {
    "instanceId": "4e3b2daf49d0786cbff97c0d576b144bd41ab5d27e9f94805fa0352d51cb1242"
  },
  "id": "7OJKcAiVRXgDUCuR",
  "tags": []
}