Chat With Any File with SupeBase.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -180
      ],
      "id": "d679b931-369e-4c2d-abf2-c00630f1fb86",
      "name": "When chat message received",
      "webhookId": "57cca52e-d855-423d-a007-d75391638e15"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are helpful assistance. you will use the vector store tool to retrieve relevant information and respond to use query.please answer \"{{ $json.chatInput }}\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -220,
        -180
      ],
      "id": "394912b7-ee66-4488-b506-9f8788b45707",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -420,
        40
      ],
      "id": "636be66b-3942-4a49-973e-4a84496980ca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HTcHoPE9qQ8PacoC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "company_knowledge_base",
        "description": "Retrieve data about user query "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        180,
        -140
      ],
      "id": "127bf8e8-79f6-42e8-b564-d8eec70ff18c",
      "name": "Vector Store Tool"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        60,
        40
      ],
      "id": "fb2a9bea-e7a9-471a-afac-578ffd5e1722",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "m379CPqgAoZE46Zk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_agent_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -260,
        40
      ],
      "id": "f29c1ffd-d1ce-483a-a505-ac251a952661",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "3jTiVjotPE01k4Qa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        400,
        140
      ],
      "id": "15a9e3e7-a550-4c43-8bf7-c6722f78b942",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HTcHoPE9qQ8PacoC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        400,
        -40
      ],
      "id": "e04cc110-b1c8-434f-93d0-d41a0c5600a0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "HTcHoPE9qQ8PacoC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        400
      ],
      "id": "08434460-897f-4a9d-842c-ed8a040492d7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ykrcymchucjzotngeskh.supabase.co/storage/v1/object/list/n8nTest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prefix"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        420
      ],
      "id": "6c2802eb-7ce8-4447-a623-cbd5bf17b4a6",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v6qTidaTV7xAQ9aA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ykrcymchucjzotngeskh.supabase.co/storage/v1/object/n8nTest/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        420
      ],
      "id": "743b8ae5-a5a9-4d52-81f5-c84583462210",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v6qTidaTV7xAQ9aA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$binary.data?.fileExtension ==undefined}}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58437792-04a4-4804-aad1-70b40180eac2",
                    "leftValue": "={{ $binary.data.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        420
      ],
      "id": "50150f11-13cf-4f48-813f-37368ba4d04f",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        300,
        420
      ],
      "id": "1571fdc1-507b-44e2-a118-3764494781c7",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        20,
        540
      ],
      "id": "a5870a4b-6ed8-4f06-b2de-d80d8b44ef6e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Merge').item.json.data ?? $('Merge').item.json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        600,
        660
      ],
      "id": "32af3397-ad44-469e-802d-011feb4de45b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        520,
        420
      ],
      "id": "31e1dd97-76fe-49e1-bf47-2a69e54485a4",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "m379CPqgAoZE46Zk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        700,
        880
      ],
      "id": "d7ef876d-e178-4018-9140-e2985b748dfe",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        360,
        700
      ],
      "id": "77563ed1-0985-4b67-a525-20d2592f70ec",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "HTcHoPE9qQ8PacoC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95ddef9d-5108-4274-9b31-1f0b033cab45",
  "meta": {
    "instanceId": "4e3b2daf49d0786cbff97c0d576b144bd41ab5d27e9f94805fa0352d51cb1242"
  },
  "id": "xzlfGiQI09MZg896",
  "tags": [
    {
      "createdAt": "2024-12-21T10:51:04.977Z",
      "updatedAt": "2024-12-21T10:51:04.977Z",
      "id": "vJY4WnDp3TWCzn4k",
      "name": "vector retreving"
    }
  ]
}